.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.img{
  width: 300px;
  height: 350px;
}
.btn{
 position: absolute;
 top: 470px;
 left: 730px;
}
.btn1{
  position: absolute;
  top: 470px;
  left: 800px;
 }
.input{
  position: absolute;
  top: 470px;
  left: 500px;
  border-radius: 20px;
  padding: 3px;
}
.text{
  font-weight: bold;
  color: gray;
}

.li{
  text-decoration: none;
  font-weight: 600;
  color: #000000;

  border: 1px solid #000000;
  border-radius: 15px;

}
.div1{
  width: 200px;
  height: 300px;
  background-color: red;
  color: #ffffff;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  top: 50px;
 
}

.div2{
  width: 200px;
  height: 300px;
  background-color: blueviolet;
  color: #ffffff;
  text-align: center;
  border-radius: 20px;
}
.div3{
  width: 200px;
  height: 300px;
  background-color: rgb(7, 160, 155);
  color: #ffffff;
  text-align: center;
  border-radius: 20px;
}
